@import "../../../Assets/Styles/Global/Global.scss";

.detail2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  .deskripsi-header {
    padding-left: 90px;
    h1 {
      margin: 10px 0;
    }
    .divider {
      margin: 0;
      width: 500px;
      border-bottom: 5px solid $primary4;
    }
  }
  .content {
    padding-left: 10px;
    margin: 10px 80px;
    max-width: 1300px;
  }
}
