@import "../../../../Assets/Styles/Global/Global.scss";
.fast-detail {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  max-height: 500px;
  background: rgb(41, 50, 65);
  background: linear-gradient(
    149deg,
    rgba(41, 50, 65, 1) 0%,
    rgba(61, 90, 128, 1) 50%,
    rgba(238, 108, 77, 1) 100%
  );
  // background-color: transparent;
  border: 1px dotted black;
  border-radius: 20px;
  padding: 25px;
  color: white;
  .fast-detail-top {
    margin-left: 10px;
    margin-bottom: 20px;
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    .fast-detail-top-content {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      .content-item {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin: 0 5px;
          font-size: 24px;
        }
      }
    }
  }
  .fast-detail-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .fast-detail-bot-left {
      display: flex;
      flex-direction: column;
      width: 45%;
      margin: auto;
      .fast-detail-item {
        label {
          color: $primary3;
        }
        p {
          margin: 0px;
        }
      }
    }
    .fast-detail-bot-right {
      display: flex;
      flex-direction: column;
      width: 45%;
      margin: auto;
      .fast-detail-item {
        label {
          color: $primary3;
        }
        p {
          margin: 0px;
        }
      }
    }
  }
}
