@import "../../../Assets/Styles/Global/Global.scss";
.SearchTab {
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 0;
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    
  filter: drop-shadow(7px 7px 3px black );
    height: 150px;
    margin: 0px auto;
    padding: 0px;
    word-break: break-all;
    border: none;
    border-radius: 20px;
    z-index: 7;
    transform: translateY(-10px);
    .bloc-tabs {
      display: flex;
      justify-content: center;
      gap: 15px;
      button {
        border: none;
        font-weight: 700;
        font-size: 30px;
        font-family: sans-serif;
      }
      .tabs {
        text-align: center;
        background-color: transparent;
        width: 20%;
        cursor: pointer;
        box-sizing: content-box;
        position: relative;
        outline: none;
        color: rgb(164, 164, 164);
      }
      .active-tabs {
        background: transparent;
        border-bottom: 1px solid transparent;
        color: white;

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 30px);
          height: 3px;
          background: $primary4;
        }
      }
    }

    .content-tabs {
      flex-grow: 1;
      .content {
        width: 100%;
        height: 80%;
        display: none;

        h2 {
          padding: 0px 0 5px 0px;
          text-align: center;
        }
        hr {
          width: 100px;
          height: 2px;
          background: #222;
          margin-bottom: 5px;
        }
        p {
          width: 100%;
          height: 80%;
        }
      }

      .active-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search-box {
          display: flex;
          justify-content: center;
          width: 100%;

          .search-gif {
            height: 40px;
            width: 40px;
            border-radius: 10px 0px 0px 10px;
            transform: translateX(2px);
          }

          .search-beli {
            width: 60%;
            height: 40px;
            border: none;
            outline: none;
            padding: 0;
            padding-left: 10px;
            font-size: 20px;
            font-weight: 600;
            color: $primary4;
            text-transform: capitalize;
          }

          .search-button-bg {
            margin: 0;
            height: 40px;
            display: flex;
            background-color: white;
            align-items: center;
            border-radius: 0px 10px 10px 0px;

            .search-button {
              border-radius: 7.5px;
              height: 30px;
              width: 80px;
              margin-right: 5px;
              background-color: $primary4;
              border-color: $primary4;
              color: white;
              font-weight: 600;

              &:hover {
                background-color: $primary4;
                box-shadow: 20px;
                transform: translateY(1px) translateX(0.5px);
              }
            }
          }
        }
        .search-result {
          width: 480px;
          height: fit-content;
          max-height: 200px;
          background-color: whitesmoke;
          position: absolute;
          transform: translateY(45px);
          border-radius: 10px;
          overflow: auto;
          display: flex;
          background-clip: content-box;
          flex-direction: column;
          // scrollbar-width: none;
          // -ms-overflow-style: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .location {
            background-clip: content-box;
            -webkit-background-clip: content-box;
            list-style: none;
            font-family: Arial, Helvetica, sans-serif;
            padding: 15px;
            margin: 0;
            background: $primary3;
            &:hover {
              background: $primary4;
              color: white;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
