@import "../../../Assets/Styles/Global/Global.scss";

.advanced-searchbar {
  margin: 0px;
  .search-box {
    display: flex;
    justify-content: flex-start;
    background-color: green;
    padding: 5px 50px;
    .search-gif {
        height: 40px;
        width: 40px;
        border-radius: 10px 0px 0px 10px;
      }
      .search-text {
        width: 500px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0px;
        font-size: 20px;
        text-transform: capitalize;
      }
      .search-btn-bg {
        margin: 0;
        height: 40px;
        display: flex;
        background-color: white;
        align-items: center;
        border-radius: 0px 10px 10px 0px;
        .search-button {
          border-radius: 7.5 px;
          height: 30px;
          width: 80px;
          margin-right: 5px;
          background-color: $primary5;
          color: white;
          font-weight: 600;
          border-color: $primary5;
          border-width: 2px;

          &:hover {
            background-color: $primary4;
            transform: translateY(1px) translateX(0.5px);
          }
        }
      }
      .search-result {
        width: 620px;
        height: fit-content;
        max-height: 200px;
        background-color: whitesmoke;
        position: absolute;
        transform: translateY(45px);
        border-radius: 10px;
        overflow: auto;
        display: flex;
        background-clip: content-box;
        flex-direction: column;
        &::-webkit-scrollbar {
          display: none;
        }
        .location {
          background-clip: content-box;
          -webkit-background-clip: content-box;
          list-style: none;
          font-family: Arial, Helvetica, sans-serif;
          padding: 15px;
          margin: 0;
          &:hover {
            background: $primary5;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }

    
    .filters {
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .item {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: fit-content;
        border-radius: 5px;
        padding: 0px 20px;
        margin: 0px 5px;
        .item-text {
          font-size: 16px;
        }
      }
    }
  }
}
