.navbar nav ul {
  list-style: none;
  text-align: center;
  
}
.navbar nav ul li {
  display: inline-block;
  margin: 0;
}
.navbar nav ul li :hover {
  background-color: #ee6c4d;
  border-radius: 30px;
  box-shadow: 10px 17px 21px -2px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 10px 17px 21px -2px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 10px 17px 21px -2px rgba(0, 0, 0, 0.67);
}
.navbar nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* text-transform: uppercase; */
  margin: 0 10px;
}
.navbar nav ul li a,
.navbar nav ul li a:after,
.navbar nav ul li a:before {
  transition: all 0.6s;
}
.navbar nav ul li a:hover {
  color: white;
  transform: scale(1.2);
}
.navbar nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.navbar nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.navbar nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
  animation: circle 1.5s ease-in forwards;
}
