@import "../../Assets/Styles/Global/Global.scss";

.detail-page {
  display: flex;
  flex-direction: column;
  .background {
    height: 100px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    max-width: 1500px;
    // gap: 20px;
    .company-logo {
      width: 200px;
      height: 100px;
      z-index: 2;
    }
    .user-auth {
      margin-left: 30px;
    }
  }
  .detail-judul {
    display: flex;
    width: 80vw;
    margin: auto;
  }
  .detail-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 80px;
    max-width: 1300px;
  }
}
